html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.container {
	margin: 0 auto;
	max-width: 200px; 
	padding:10px;
}

.header {
  background-size: cover;
  height: 200px;
  text-align: left; 

}

.header .container {
	position: relative;
	top: 50px;
  	float: center;
}

.header h1 {
	color: #66abff;
	float: left;
	font-style: bold;
	line-height: 100px; 
	font-size: 100px;
	margin-top: 0;
	margin-bottom: 80px;
	text-transform: uppercase; 
}

.controller button {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Roboto, sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #43e69d;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: solid #ffffff 2px;

}

.controller button:hover {
  background: #66abff;
  text-decoration: none;
}


.controlller {
    position: relative;
  top: 200px;
    float: center;
}
}

