html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
  background: #ecf0f1;
}

.top {
background: black;
height: 60px;

}

.header {
  height: 10px;
  text-align: center; 

}

.header h1 {
	color: #66abff;
	float: left;
	font-style: bold;
	line-height: 100px; 
	font-size: 100px;
	margin-top: 50px;
	margin-bottom: 20px;
	text-transform: uppercase; 
}


.controller {
  height: 200px;
  margin-left: 400px;
  margin-right: 400px;
  text-align: left; 
  background: #ecf0f1;;

}


.controller button {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Roboto, sans-serif;
  color: #ecf0f1;
  font-size: 20px;
  background: #43e69d;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: solid #ecf0f1 2px;
  float:left;
}

.controller button:hover {
  background: #66abff;
  text-decoration: none;
}


.bottom {
  background: black;
  height: 60px;
}